*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.form-container{
    width: 50%;
    background-color: aliceblue;
    margin:20px 380px 20px;
    box-shadow: 10px 10px 10px 10px #ccc;
    border-radius: 10px;
}

.form-input{
    width: 50%;
    padding: 10px;
    float:left;

}

.clearfix{
    clear:both;
}
input[type='text']{
    width:100%;
    font-family:'Arial';
    border:1px solid rgb(20, 100, 106);
    border-radius: 5px;
    height:40px;
    padding-left: 10px;
}

.button{
    background: rgb(37, 113, 189);
    border: 2px solid rgb(95, 95, 238);
    margin:20px;
    padding: 10px;
    font-weight:bold;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}
h1{
    margin:10px;
}
.error{
    color:red;
    padding-left: 20px;
}