img.avatar {
    width: 30%;
    border-radius: 50%;
    text-align: center;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .contain{
    background-color: rgb(138, 240, 112);
  }